<div class="modal-dialog">
    <div class="modal-content">
        <form class='example-form' #registerForm='ngForm' (ngSubmit)='registerUser()'>

            <div class="modal-header">
                <button type="button" class="close" (click)="close()">&times;</button>
                <h4 class="modal-title">{{title || 'Register'}}</h4>
            </div>
            <div class="modal-body">
                <table class='example-full-width' cellspacing='0'>
                    <tr>
                        <td>
                            <input class='form-control' required mdInput placeholder='Username' name="username" [(ngModel)]="user.username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class='form-control' required mdInput placeholder='First name' name="firstName" [(ngModel)]="user.firstName">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class='form-control' required mdInput placeholder='Last name' name="lastName" [(ngModel)]="user.lastName">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class='form-control' required mdInput placeholder='Password' type='password' name="password" [(ngModel)]="user.password">
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit">Register</button>
                <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
            </div>
        </form>

    </div>
</div>