<header>
    <div id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="home-account" *ngIf="isLoggedUser == false">
                        <a (click)=loginModal()>Log in</a>
                        <a (click)=registerModal()>Register</a>
                    </div>
                    <div class="home-account" *ngIf="isLoggedUser == true">
                        <span>Hello </span>
                        <a [routerLink]="['/users/profile']"> {{loggedUserUsername}}!</a>
                        <a [routerLink]="['/logout']">Log out</a>

                    </div>
                </div>
                <div class="col-md-6" *ngIf="isLoggedUser == true">
                    <div class="cart-info">
                        <i class="fa fa-shopping-cart"></i> (
                        <a [routerLink]="['/users/cart']">{{userCartItems}} items </a>) in your cart (<a [routerLink]="['/users/cart']"> {{userCartPrice}} $ </a>)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="#"><img src="/assets/images/logo.png" title="NG Pizza" alt="NG Pizza Logo"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-menu">
                        <ul>
                            <li><a [routerLink]="['/home']">Home</a></li>
                            <li><a [routerLink]="['/about']">About</a></li>
                            <li><a [routerLink]="['/pizza/all']">Pizza</a></li>
                            <li><a [routerLink]="['/pizza/custompizza']">Build your own pizza!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Delicious Pizza</h2>
                    <span>With free beer!</span>
                </div>
            </div>
        </div>
    </div>
</div>