<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-8">
                    <div class="subscribe-form">
                        <span>Get in touch with us</span>
                        <form method="get" class="subscribeForm">
                            <input id="subscribe" type="text" />
                            <input type="submit" id="submitButton" />
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social-bottom">
                        <span>Follow us:</span>
                        <ul>
                            <li>
                                <a href="https://facebook.com" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="https://rss.com" class="fa fa-rss"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="about">
                        <h4 class="footer-title">About PizzaNG</h4>
                        <p>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque inventore aspernatur ipsam enim ipsa libero obcaecati, dignissimos fugit delectus, labore beatae sunt pariatur porro esse ex. Ducimus cupiditate, nostrum in!</span>
                        </p>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="more-info">

                        <ul>
                            <li><i class="fa fa-phone"></i>010-020-0340</li>
                            <li><i class="fa fa-globe"></i>123 Dagon Studio, Yakin Street, Digital Estate</li>
                            <li><i class="fa fa-envelope"></i><a [routerLink]="['/contact']">theelfinbison@telerikacademy.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p>
                <span>Copyright © 2017 <a href="https://github.com/TeamElfinBison/AngularProject">The Elfin Bison</a> 
                </span>
            </p>
        </div>

    </div>
</footer>